{% extends "base.html" %}
{% block content %}
<div class="row">
  {% for article in derniers_articles %}

      <div class="col-md-4">

          <h3>{{ article.titre }}</h3>

          <text>{{ article.contenu|truncatewords_html:40 }}</text>
          <br>
          <div class="article-footer">
            <div class="article-buttons">
              <a href="{% url 'editArticle' article.id %}" class="article-button" type="button" name="button"><span class="glyphicon glyphicon-trash"></span></a>
              <a href="{% url 'editArticle' article.id %}" class="article-button" type="button" name="button"><span class="glyphicon glyphicon-edit"></span></a>
            </div>
            <a href="{% url 'article' article.id %}" class="article-read-more">Lire la suite</a>
          </div>
      </div>

  {% empty %}
      <p>Aucun article.</p>
  {% endfor %}
</div>
{% endblock %}
