<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Vapache{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'stylesheets/style.css'%}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
  </head>
  <body>
    <div class="container">

      <img class="logo" src="/static/img/logo.png">
      <div class="jumbotron">
        <h1>Vapache</h1>
        <p>Meilleur Blog sur les e-Cigarettes</p>
      </div>
      {% block nav-bar %}
      <ul class="navbar-bar">
        <li><a class="active" href="/blog/accueil"><span class="glyphicon glyphicon-home"></span><span class="navbar-menu-tag"> Accueil</span></a></li>
        <li><a href="/blog/articles"><span class="glyphicon glyphicon-list-alt"></span><span class="navbar-menu-tag"> Articles</span></a></li>
        <li><a href="/blog/addArticle"><span class="glyphicon glyphicon-plus"></span><span class="navbar-menu-tag"> Ajouter</span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-minus"></span><span class="navbar-menu-tag"> Suprimer</span></a></li>
        <li><a href="/blog/contact"><span class="glyphicon glyphicon-contact"></span><span class="navbar-menu-tag"> Contact</span></a></li>
      </ul>
      {% endblock %}
      <div class="content">
        {% block subtitle %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
