@require "./data.styl"

.jumbotron
  background-color  red
  margin 0em

.container
  background-color red-light

.navbar
  ul
    display flex
    flex-direction row
    justify-content space-around
    background-color red-light
    :focus
      background-color red
