@font-face {
  font-family: 'lemonmilkregular';
  src: url("/static/fonts/lemonmilk-webfont.woff2") format('woff2'), url("/static/fonts/lemonmilk-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lemonmilk_lightregular';
  src: url("/static/fonts/lemonmilklight-webfont.woff2") format('woff2'), url("/static/fonts/lemonmilklight-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #444;
  background-image: url("/static/img/body-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  body {
    background-image: none;
  }
}
h1 {
  color: #fff;
  font-size: 4em;
  margin: 0;
}
h2,
h3 {
  background-color: #fc8f0f;
  color: #fff;
  font-family: lemonmilkregular;
  padding: 0.25em 0.5em;
}
h2 {
  font-size: 2em;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.25em;
  }
}
h3 {
  font-size: 1.5em;
}
@media (max-width: 768px) {
  h3 {
    font-size: 1em;
  }
}
text,
a {
  text-align: justify;
  font-size: 1em;
}
@media (max-width: 768px) {
  text,
  a {
    font-size: 0.8em;
  }
}
.jumbotron {
  background-color: #5d193d;
  border-radius: 0;
  margin: 0;
  font-family: lemonmilkregular;
  padding: 6.5em 0 1.5em 0;
  text-align: left;
}
.jumbotron p {
  color: #fc8f0f;
  font-size: 1.25em;
  margin: 0;
}
@media (max-width: 768px) {
  .jumbotron {
    padding: 1em;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 2.5em;
  }
  .jumbotron p {
    font-size: 0.8em;
  }
}
.logo {
  float: right;
  padding: 1em;
  padding-right: 4em;
  height: 14em;
  margin: 0;
  width: auto;
}
@media (max-width: 970px) {
  .logo {
    display: none;
  }
}
.navbar-bar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ebd4ae;
}
.navbar-bar li a {
  font-family: lemonmilk_lightregular;
  display: block;
  color: #000;
  padding: 0.5em 2em;
  text-decoration: none;
  font-size: 1em;
  -webkit-transition: 0.25s /* Safari, Chrome and Opera > 12.1 */;
  -moz-transition: 0.25s /* Firefox < 16 */;
  -ms-transition: 0.25s /* Internet Explorer */;
  -o-transition: 0.25s /* Opera < 12.1 */;
}
@media (max-width: 768px) {
  .navbar-bar li a {
    font-size: 1.25em;
    padding: 0.15em 0.5em 0.05em 0.5em;
  }
}
.navbar-bar li a.active {
  background-color: #fc8f0f;
  color: #fff;
  font-weight: bold;
}
@media (max-width: 768px) {
  .navbar-bar li a.active {
    background-color: #ebd4ae;
    color: #fc8f0f;
  }
}
.navbar-bar li a:hover:not(.active) {
  background-color: #444;
  color: #fff;
}
.navbar-bar li a:focus {
  background-color: #ebd4ae;
  color: #fc8f0f;
}
@media (max-width: 768px) {
  .navbar-bar {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .navbar-menu-tag {
    display: none;
  }
}
.container {
  background-color: rgba(255,255,255,0.85);
  padding: 0;
  min-height: 94vh;
}
@media (max-width: 768px) {
  .container {
    background-color: #fff;
  }
}
.content {
  padding: 1em 1.5em 2em 1.5em;
}
@media (max-width: 768px) {
  .content {
    padding: 0.5em;
  }
}
.feet {
  padding: 0.25em 0;
  font-family: lemonmilk_lightregular;
  font-size: 1.5em;
  background-color: #000;
  color: #ebd4ae;
  text-align: center;
}
@media (max-width: 768px) {
  .feet {
    font-size: 0.75em;
  }
}
.article-content {
  text-align: justify;
}
.article-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.5em 0;
}
.article-read-more {
  color: #fff;
  background-color: #444;
  font-size: 1.2em;
  font-family: lemonmilk_lightregular;
  border-style: none;
  padding: 0.05em 0.5em;
  -webkit-transition: 0.15s /* Safari, Chrome and Opera > 12.1 */;
  -moz-transition: 0.15s /* Firefox < 16 */;
  -ms-transition: 0.15s /* Internet Explorer */;
  -o-transition: 0.15s /* Opera < 12.1 */;
}
@media (max-width: 768px) {
  .article-read-more {
    font-size: 1em;
  }
}
.article-read-more:hover {
  background-color: #fc8f0f;
  color: #5d193d;
}
.article-read-more:focus {
  color: #5d193d;
}
.article-button {
  color: #fff;
  background-color: #444;
  border-radius: 50%;
  font-size: 1.2em;
  font-family: lemonmilk_lightregular;
  border-style: none;
  padding: 0.5em 0.5em 0.3em 0.45em;
  margin-left: 0.25em;
  -webkit-transition: 0.15s /* Safari, Chrome and Opera > 12.1 */;
  -moz-transition: 0.15s /* Firefox < 16 */;
  -ms-transition: 0.15s /* Internet Explorer */;
  -o-transition: 0.15s /* Opera < 12.1 */;
}
.article-button:hover {
  background-color: #fc8f0f;
  color: #5d193d;
}
.article-button:focus {
  color: #fff;
}
.article-form {
  padding-top: 1em;
}
.article-form label {
  font-family: lemonmilk_lightregular;
  color: #444;
}
.article-form input[type=text],
.article-form textarea {
  width: 100%;
}
.article-form input[type=submit] {
  font-family: lemonmilk_lightregular;
  background-color: #444;
  color: #fff;
  border: none;
  font-size: 1.2em;
  padding: 0.5em 1em 0.25em 1em;
  -webkit-transition: 0.15s /* Safari, Chrome and Opera > 12.1 */;
  -moz-transition: 0.15s /* Firefox < 16 */;
  -ms-transition: 0.15s /* Internet Explorer */;
  -o-transition: 0.15s /* Opera < 12.1 */;
}
.article-form input[type=submit]:hover {
  background-color: #fc8f0f;
  color: #5d193d;
}
