@require "./data.styl"

//General
body
  background-color grey
  background-image url("/static/img/body-background.png")
  background-repeat no-repeat
  background-attachment fixed
  background-position center
  background-size cover
  @media(max-width xs-max)
    background-image none

h1
  color white
  font-size 4em
  margin 0

h2, h3
  background-color orange
  color white
  font-family main-font
  padding 0.25em 0.5em

h2
  font-size 2em
  @media(max-width xs-max)
    font-size 1.25em

h3
  font-size 1.5em
  @media(max-width xs-max)
    font-size 1em

text, a
  text-align justify
  font-size 1em
  @media(max-width xs-max)
    font-size .8em

//Header
.jumbotron
  background-color  wine
  border-radius 0
  margin 0
  font-family main-font
  padding 6.5em 0 1.5em 0
  text-align left
  p
    color orange
    font-size 1.25em
    margin 0
  @media(max-width xs-max)
    padding 1em
    text-align center
    h1
      font-size 2.5em
    p
      font-size .8em

//logo dimension
.logo
  float right
  padding 1em
  padding-right 4em
  height 14em
  margin 0
  width auto
  @media(max-width sm-max)
    display none

//Navigation bar

.navbar-bar
  display flex
  list-style-type none
  margin 0
  padding 0
  background-color beige
  li
    & a
      font-family main-font-light
      display block
      color black
      padding 0.5em 2em
      text-decoration none
      font-size 1em
      transition(.25s)
      @media(max-width xs-max)
        font-size 1.25em
        padding 0.15em 0.5em 0.05em 0.5em
      &.active
        background-color orange
        color white
        font-weight bold
        @media(max-width xs-max)
          background-color beige
          color orange
      &:hover:not(.active)
        background-color grey
        color white
      &:focus
        background-color beige
        color orange
  @media(max-width xs-max)
    justify-content space-around

.navbar-menu-tag
  @media(max-width xs-max)
    display none

//Body
.container
  background-color rgba(255, 255, 255, 0.95)
  padding 0
  min-height 94vh
  @media(max-width xs-max)
    background-color white

.content
  padding 1em 1.5em 2em 1.5em
  @media(max-width xs-max)
    padding .5em

.feet
  padding .25em 0
  font-family main-font-light
  font-size 1.5em
  background-color black
  color beige
  text-align center
  @media(max-width xs-max)
    font-size .75em

//Articles
.article-content
  text-align justify

.article-footer
  display flex
  flex-direction row-reverse
  align-items flex-end
  justify-content space-between
  padding .5em 0

.article-read-more
  color white
  background-color grey
  font-size 1.2em
  font-family main-font-light
  border-style none
  padding .05em .5em
  transition(.15s)
  @media(max-width xs-max)
    font-size 1em
  &:hover
    background-color orange
    color wine
  &:focus
    color wine

.article-button
  color white
  background-color grey
  border-radius 50%
  font-size 1.2em
  font-family main-font-light
  border-style none
  padding .5em .5em .3em .45em
  margin-left .25em
  transition(.15s)
  &:hover
    background-color orange
    color wine
  &:focus
    color white

.article-form
  padding-top 1em
  label
    font-family main-font-light
    color grey
  input[type=text],textarea
    width 100%
  input[type=submit]
    font-family main-font-light
    background-color grey
    color white
    border none
    font-size 1.2em
    padding .5em 1em .25em 1em
    transition(.15s)
    &:hover
      background-color orange
      color wine
